@model  ME.ViewModels.HomeViewModel
<div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Question List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="question" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Sr#</th>
                                <th>Question</th>
                                <th>Category</th>
                                <th>Image</th>
                                @if (Convert.ToString(Session["UserType"]).Equals("6")==false)
                                {
                                    <th>Action</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.GetAllQuestionList != null)
                            {
                                int count = 1;
                                foreach (var loop in Model.GetAllQuestionList)
                                {

                                    <tr>
                                        <td>@count</td>
                                        <td>@loop.Text</td>
                                        <td>@loop.Name</td>
                                        <td>
                                            @if (@loop.ImagePath == null)
                                            {
                                                <img src="Assests/Images/bonjour1.png" style="width: 50px;height: 50px;" />
                                            }
                                            else
                                            {
                                                <img src="@loop.ImagePath" style="width: 50px;height: 50px;" />
                                            }
                                        </td>
                                        @if (Convert.ToString(Session["UserType"]).Equals("6")==false)
                                        {
                                            <td>
                                                <a target="_blank" style="margin-right: 5px;" href=EditQuestion?id =@loop.QsId>Edit</a>
                                                <a style="margin-right: 5px;color:red" href=DeleteQuestion?qsId =@loop.QsId>Delete</a>

                                            </td>
                                        }
                        

                                    </tr>
                                    count++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#question').DataTable();
    });
</script>




